@import "base/base";
@import "base/typography";

@import "abstracts/colours";

@import "layout/header";

@import "layout/about";

@import "layout/tourdates";
@import "components/tourdates-table";

@import "layout/discography";
@import "components/albums";

@import "layout/contact";
@import "components/social-media-links";


@import "layout/footer";






















.spacer{
    margin-top: 1rem;
}
.spacer2{
    margin-top: 2rem;
}
.spacer4{
    margin-top: 4rem;
}
