.grid__container4 {
    transform: translateY(30rem);
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, calc(25%));
    padding: 0.1rem;

    &--item1,
    &--item2,
    &--item3,
    &--item4 {
        padding: 0.75rem;
        text-align: center;
    }
}



.album-cover {
    width: 100%; 
    height: auto; 
    max-width: 250px;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(190, 84, 84, 0.2);
    border-radius: 5px;

    &:hover{
        scale: 1.1;
        margin-bottom: 1rem;
    }
}

.album-caption {
    font-family: SanFrancisco;
    margin-top: 0.5rem; 
    font-size: 1rem; 
    color: $SEASHELL;

    font-weight: 500;
}