.grid__container2 {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3%));
    padding: 0.1rem;
    gap: 1rem;

    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover{
        background-color: $DARKGREEN;
        scale: 1.1;
    }

    &--item1, &--item2, &--item3 {
        padding: 0.75rem;
        color: $CORNSILK;
        text-align: center;
        font-family: SanFrancisco;
    }

    &--item1{
        text-align: left;
    }
    &--item2{
        transform: translateX(-2rem);
    }
    &--item3{
        background-color: $CITRON;;
    
        width: 50%;
        height: 50%;
    
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
    
        margin-left: 8rem;
        border-radius: 19px;
    
        transform: translateY(1rem);
    }
}




